body,
html,
p,
ul {
    padding: 0;
    margin: 0;
}
li {
    margin-bottom: 5px;
    list-style: none;
}
li:hover {
    cursor: pointer;
    background-color: #fff;
}
@font-face {
    font-family: 'iconfont';
    src: url('iconfont.eot');
    src: url('iconfont.eot?#iefix') format('embedded-opentype'),
    url('iconfont.woff') format('woff'),
    url('iconfont.ttf') format('truetype'),
    url('iconfont.svg#iconfont') format('svg');
}
.iconfont {
    font-family:"iconfont" !important;
    font-size:14px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
dl {
    width: 100px;
    float: left;
    padding: 0;
}
dt,
dd {
    margin: 0;
    height: 60px;
    border: solid 1px #ccc;
    text-align: center;
    line-height: 60px;
    background-color: #8dda13;
}
#dl-container i:hover {
    cursor: pointer;
}
/* 浮出层样式 */
.pop-mask {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-color: #000;
    z-index: 6000;
}
.pop {
    /* 要让它可以移动肯定不能设置fixed */
    /* 但是又要让它固定在屏幕中间，所以用js解决问题 */
    position: absolute;
    /* position: sticky; */
    padding: 15px;
    padding-top: 0;
    border: solid 1px #000;
    background-color: #fff;
    overflow: hidden;
    z-index: 6001;
}
.pop button {
    float: right;
    height: 11%;
    width: 20%;
    border: solid 1px #000;
    background-color: #858282;
    margin-top: 5px;
}
.pop button:first-of-type {
    margin-left: 20px;
}
.pop-title {
    position: relative;
    width: 100%;
    height: 20%;
    left: 0;
    border-bottom: solid 1px #000;
    background-color: #ebe84c;
}
.pop-title:hover {
    cursor: move; 
}
.pop-content {
    width: 100%;
    height: 70%;
    background-color: #50ceee;
}