body{
    margin: 0;
    padding: 0;
}
.main,
.left,
.right,
.container {
    height: 600px;
}
.left,
.right {
    width: 200px;
}
/* 浮动方法 负margin*/
/* .container {
    width: 100%;
    float: left;  
    background-color: #ee1313;
}
.left {
    float: left;
    margin-left: -100%;
    background-color: #48e40b;
}
.right {
    float: left;
    margin-left: -200px;
    background-color: #04c3f3;
} */ 

/* 定位方法 */
/* body {
    position: relative;
}
.container {
    width: 100%;
    background-color: #ee1313;
}
.left {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #48e40b;
}
.right {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #04c3f3;
} */

/* flex方法 更改显示顺序*/

body {
    display:flex;
}
.container {
    width: 100%;
    background-color: #ee1313;
}
.left {
    flex-shrink: 0;
    order: -1;
    background-color: #48e40b;
}
.right {
    flex-shrink: 0;
    background-color: #04c3f3;
}
