/* 浮动方法 */
/* .left {
    width: 30%;
    height: 600px;
    float: left;
    background-color: #ee2222;
}
.right {
    width: 70%;
    height: 600px;
    float: right;
    background-color: #18e775;
} */

/* 定位方法 */
/* body {
    position: relative;
}
.left { 
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
    height: 600px;
    background-color: #ee2222;
   
}
.right { 
    position: absolute;
    right: 0;
    top: 0;
    width: 70%;
    height: 600px;
    background-color: #18e775;
} */

/* 弹性盒子 */
body {
    display: flex;
}
.left {
    flex-shrink: 0;
    width: 30%;
    height: 600px;
    background-color: #ee2222;
}
.right {
    flex-shrink: 0;
    width: 70%;
    height: 600px;
    background-color: #18e775;
}