body {
    font:30px micorsoft yahei;
    background:#fff;
}
body,
p,
form,
ul,
li{
    margin:0;
    padding:0;
    list-style:none;
}
span {
    font-weight: 700;
}

a {
    color:#00c;
}
a:active {
    color:#f60;
}

.main {
    
    float: left;
}
/* 标题 */
.resume{
    width: 108px;
    float: left;
    padding: 114px 110px 1550px;
    font: 700 54px micorsoft yahei ;
    color: #fff;
    background-color: #3F8EF9;
}
/* 基本信息 */
.info {
    height: 189px;  
    width: 100%;
    margin-bottom: 28px;
    margin: 50px auto 28px 41px;
    float: left;
}
.title {
    height: 45px;
    margin-bottom: 58px;
    line-height: 45px;
    padding-left: 0;
    font-size: 45px;
    font-weight: 700;
}
.info 
ul 
li {
    float: left;
    margin-right: 40px;
}
/* 联系方式 */
.connect {
    height: 191px;  
    width: 100%;
    margin-bottom: 28px;
    margin: 50px auto 28px 41px;
    float: left;
}
.connect 
ul 
li {
    float: left;
    margin-right: 40px;
}
/* 能力描述 */
.ability {
    height: 351px;
    width: 100%;
    margin-bottom: 28px;
    margin: 50px auto 28px 41px;
    float: left;
}
.tec{
    margin-bottom: 22px;
}
/* 教育经历 */
.education {
    height: 354px;
    width: 100%;
    margin-bottom: 28px;
    margin: 50px auto 28px 41px;
    float: left;
}
.edu{
    margin-bottom: 22px;
}
/* 项目经历 */
.project {
    height: 354px;
    width: 100%;
    margin-bottom: 28px;
    margin: 50px auto 28px 41px;
    float: left;
}
.work{
    margin-bottom: 22px;
}