.main {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-color: rgba(75, 170, 12, 0.589);
}
button:nth-of-type(3) {
    margin-left: 30px;
}
.container div:nth-of-type(n) {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 20px;
    margin-top: 20px;
    line-height: 100px;
    text-align: center;
    background-color: rgb(241, 88, 88);
}