body {
    font:16px micorsoft yahei;
    background:#fff;
}
body,
p,
form,
ul,
li{
    margin:0;
    padding:0;
    list-style:none;
}

span {
    font-weight: 700;
    font-size: 16px;
}

a {
    color:#00c;
}
a:active {
    color:#f60;
}
/* 标题 */
.resume{
    padding: 47px 0 47px 47px;
    font:bold 30px micorsoft yahei ; 
    background-color: #666;
    color: #fff;
}
.main{
    border:solid #ccc 2px;
}
/* 基本信息 */
.info {
    height: 200px;  
    margin-bottom: 1px;
    border-top: solid #ccc 2px;
}
.title {
    height: 200px;
    width: 200px;
    line-height: 200px;
    margin-right: 20px;
    font-size: 23px;
    font-weight: 700;
    text-align: center;
    background-color: #ccc;    
    float: left;
}
.info 
ul {
    margin-top: 26px;
}
.info 
ul 
li {
    float: left;
    margin-right: 40px;
}
/* 联系方式 */
.connect {
    height: 200px;  
    margin-bottom: 1px;
    border-top: solid #ccc 2px;
}
.connect
ul {
    margin-top: 26px;
}
.connect 
ul 
li {
    float: left;
    margin-right: 40px;
}
/* 能力描述 */
.ability {
    height: 200px;  
    margin-bottom: 1px;
    border-top: solid #ccc 2px;
}
.tec{
    margin-bottom: 22px;
    margin-top: 26px;
}
/* 教育经历 */
.education {
    height: 200px;  
    margin-bottom: 1px;
    border-top: solid #ccc 2px;
}
.edu{
    margin-bottom: 22px;
    margin-top: 26px;
}
/* 项目经历 */
.project {
    height: 200px;  
    margin-bottom: 1px;
    border-top: solid #ccc 2px;
}
.work{
    margin-bottom: 22px;
    margin-top: 26px;
}